* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif,serif;
}
/* Container Styling */
.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Heading Styling */
.container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Input Fields Styling */
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Link Styling */
#Account1 {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  color: #007BFF;
  text-decoration: none;
}

#Account1:hover {
  text-decoration: underline;
}

/* Button Styling */
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Message Styling */
#message {
  margin-bottom: 15px;
  font-size: 20px;
  color: red; /* You can adjust the color based on the type of message */
}
